@media only screen and (max-width:600px){


.navbar {
position: relative;
}

.navbar .logo{
display: none;
}


.navbar .menu-hamburguesa
{
display: block;
grid-column: 8 / 9;
font-size: 2em;
cursor: pointer;
}
.navbar .menu {
    position: absolute;
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    background-color:#DCD7C7;
    margin-top: 38em;
    transform: translate(170%);
    transition: all ls;
    grid-column: 5 / 8;
    grid-row: 3 / 7;
}
}
.navbar .menu-hamburguesa{
    transform: translate(70%);
}

/* SECCION PRINCIPAL */
.todo .info {
    grid-column: 2 / 10;
    grid-row: 4 / 8;
}

.todo h1{
    font-size: 3.5em;

}